<link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">

<a style="font-size: 30px" routerLink="/">Menu in english</a>

<div class="wrapper fadeInDown">
  <div id="formContent">
    <form #fff="ngForm">

      <h1>{{formShow? 'כניסה למשתמשים': 'הרשמה'}}</h1>

      <input
        type="email"
        placeholder="אימייל"
        name="email"
        ngModel
        required
        #email = "ngModel"
        email
      >
      <p class="error-label" *ngIf="!email.valid && email.touched">
        <span *ngIf="email.errors.required">שדה חובה</span>
        <span *ngIf="email.errors.email">אימייל לא תקין</span>
      </p>


      <input
        type="password"
        placeholder="סיסמא"
        name="password"
        ngModel
        required
        #pass = "ngModel"
      >

      <p class="error-label" *ngIf="!pass.valid && pass.touched">
        שדה חובה
      </p>



      <input
        *ngIf="!formShow"
        type="password"
        placeholder="חזור על הסיסמה"
        name="password2"
        ngModel
        required
      >



      <input
        *ngIf="!formShow"
        type="text"
        placeholder="שם משתמש"
        name="username"
        ngModel
        required
      >


      <button
        *ngIf="email.valid && email.touched"
        type="submit"
        (click)="submitButton()"
      >
        {{formShow? 'כניסה': 'הרשמה'}}
      </button>


<!--      <div *ngIf=" ourForm.valid && email.touched ">-->
<!--        <span class="error-label">Invalid username/password</span>-->
<!--      </div>-->



    </form>


    <br>
    <div id="formFooter">
      <span
      class="underlineHover"
      (click)="changeMode()"
      >
        <strong >{{formShow? 'להרשמה לחץ כאן': 'לכניסה לחץ כאן' }} </strong>
      </span>
    </div>




  </div>
</div>
