<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah&display=swap" rel="stylesheet">

<a style="font-size: 30px" routerLink="/">Menu in english</a>


<div class="background">
<div class="wrapper fadeInDown">
  <div id="formContent">


    <form (ngSubmit)="submitButton()" #fff="ngForm">

      <h1 style="font-size: 30px">{{formShow? 'כניסה למשתמשים': 'הרשמה למשתמש חדש'}}</h1>


      <div class="alert alert-success" *ngIf="userRegisterSuccessfully">
        User Register successfully, an email has been send. please confirm the authentication.
      <br>
      </div>


      <input
        type="email"
        placeholder="אימייל"
        name="email"
        ngModel
        required
        #email = "ngModel"
        email
      >


      <p class="error-label" *ngIf="!email.valid && email.touched">
        <span *ngIf="email.errors.email">Not valid email</span>
      </p>


      <input
        type="password"
        placeholder="סיסמא"
        name="password"
        ngModel
        required
        #pass = "ngModel"
      >


      <input
        *ngIf="!formShow"
        type="password"
        placeholder="חזור שנית על הסיסמא"
        name="password2"
        ngModel
        required
      >


      <input
        *ngIf="!formShow"
        type="text"
        placeholder="שם משתמש"
        name="username"
        ngModel
        required
      >


      <button
        *ngIf="email.valid && email.touched"
        type="submit"
      >
        {{formShow? 'כניסה': 'הרשמה'}}
      </button>


      <div class="alert alert-danger" *ngIf="hasError">
         {{hasError}}<strong>:סיבה  </strong>
      <br>
      </div>


      <div class="alert alert-danger" *ngIf="emailError">
         {{emailError}}<strong> :אימייל  e</strong>
      </div>


      <div class="alert alert-danger" *ngIf="passwordError">
         {{passwordError}}<strong> :סיסמא</strong>
      </div>


      <div class="alert alert-danger" *ngIf="userError ">
          {{userError}}<strong> :שם משתמש</strong>
      </div>


      <div class="alert alert-danger" *ngIf="passwordNotEquals">
        Passwords are not equal, please insert the same passwords.
      </div>

    </form>


    <br>
    <div id="formFooter">
      <span
      class="underlineHover"
      (click)="changeMode()"
      >
        <strong>{{formShow? 'לחץ להרשמה': 'לחץ לכניסה'  }} </strong>
      </span>
    </div>


  </div>
 </div>
</div>
