<div class="wrapper fadeInDown">
  <div id="formContent">
    <form #fff="ngForm">

      <input
        type="email"
        placeholder="Email"
        name="email"
        ngModel
        required
        #email = "ngModel"
        email
      >
      <p class="error-label" *ngIf="!email.valid && email.touched">
        <span *ngIf="email.errors.required">This input is required</span>
        <span *ngIf="email.errors.email">Not valid email</span>
      </p>


      <input
        type="password"
        placeholder="Password"
        name="password"
        ngModel
        required
        #pass = "ngModel"
      >

      <p class="error-label" *ngIf="!pass.valid && pass.touched">
        This input is required
      </p>



      <input
        *ngIf="!formShow"
        type="password"
        placeholder="Confirm the password"
        name="password2"
        ngModel
        required
      >



      <input
        *ngIf="!formShow"
        type="text"
        placeholder="Username"
        name="username"
        ngModel
        required
      >


      <button
        type="submit"
        (click)="submitButton()"
      >
        {{formShow? 'Login': 'Signup'}}
      </button>


<!--      <div *ngIf=" ourForm.valid && email.touched ">-->
<!--        <span class="error-label">Invalid username/password</span>-->
<!--      </div>-->



    </form>



    <div id="formFooter">
      <span
      class="underlineHover"
      (click)="changeMode()"
      >
        <strong>{{formShow? 'Don`t have an account?': 'Already have an account?' }} </strong><p style="color: red">Click here</p>
      </span>
    </div>




  </div>
</div>
