<div class="wrapper fadeInDown">
  <div id="formContent">
    <form #fff="ngForm">

      <input
        type="text"
        placeholder="Username"
        name="username"
      >


      <input
        type="password"
        placeholder="Password"
        name="password"
      >

      <button

      >
        Login
      </button>

    </form>


    <div id="formFooter">
      <span
      class="underlineHover"
      >
        <strong>Switch To Register</strong>
      </span>
    </div>




  </div>
</div>
